PORT=3000

DATABASE_URL=postgresql://user:password@localhost:5433/ruumi_test?schema=public

REDIS_HOST=localhost
REDIS_PORT=6379

# Brevo SMTP Config
BREVO_SMTP_HOST=smtp-relay.brevo.com
BREVO_SMTP_PORT=587
BREVO_SMTP_USER=your_smtp_user@smtp-brevo.com
BREVO_SMTP_PASSWORD=your_smtp_password
BREVO_SENDER_EMAIL=your_email@gmail.com
BREVO_SENDER_NAME="Ruumi Backend Tech Test"
