PORT=3000

DATABASE_URL=postgresql://user:password@localhost:5433/ruumi_test?schema=public

REDIS_HOST=localhost
REDIS_PORT=6379
# REDIS_PASSWORD=
# REDIS_URL=

# Brevo SMTP Config
BREVO_SMTP_HOST=smtp-relay.brevo.com
BREVO_SMTP_PORT=587
BREVO_SMTP_USER=your_smtp_user@smtp-brevo.com
BREVO_SMTP_PASSWORD=your_smtp_password
BREVO_SENDER_EMAIL=your_email@gmail.com
BREVO_SENDER_NAME="Ruumi Backend Tech Test"

# Testing & Debugging (Optional)
# Change this to 15000 (15 seconds) to test the Auto-Expiration feature without waiting 24 hours.
EXPIRATION_DELAY_MS=86400000
